{% extends "account/base.html" %}

{% load i18n %}

{% block title %}{% trans "Account Inactive" %}{% endblock %}

{% block content %}
  <div class="page">
    <div class="page-single">
      <div class="container">
        <div class="row">
          <div class="col col-login mx-auto">
            <div class="card">
              <div class="card-header">{% trans "Account Inactive" %}</div>
              <div class="card-body p-6">
                <p>{% trans "This account is inactive." %}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
