{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
  <div class="page">
    <div class="page-single">
      <div class="container">
        <div class="row">
          <div class="col col-login mx-auto">
            <form class="card password_reset" action="{% url 'account_reset_password' %}" method="post">
              {% csrf_token %}
              <div class="card-header">{% trans "Password Reset" %}</div>
              {% for error in form.non_field_errors %}
                <div class="card-alert alert alert-danger mb-0">{{ error }}</div>
              {% endfor %}
              <div class="card-body p-6">
                {% if user.is_authenticated %}
                  {% include "account/snippets/already_logged_in.html" %}
                {% endif %}
                <p class="text-muted">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
                <div class="form-group">
                  <label class="form-label">Email</label>
                  <input type="email"
                         name="{{ form.email.html_name }}"
                         id="{{ form.email.id_for_label }}"
                         class="form-control {% if form.email.errors %}is-invalid{% endif %}"
                         placeholder="{% trans 'Введите email' %}">
                  {% for error in form.email.errors %}
                    <div class="invalid-feedback">{{ error|escape }}</div>
                  {% endfor %}
                </div>
                <div class="form-footer">
                  <button type="submit" class="btn btn-primary btn-block">{% trans 'Reset My Password' %}</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
