{% extends 'base.html' %}

{% load i18n humanize static %}


{% block content %}
<div class="page">
  <div class="page-main">
    {% include 'includes/header.html' %}
    <div class="my-3 my-md-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="card card-profile">
              <div class="card-header" style="background-image: url(demo/photos/eberhard-grossgasteiger-311213-500.jpg);"></div>
              <div class="card-body text-center">
                <img class="card-profile-img" src="demo/faces/male/16.jpg">
                <h3 class="mb-3">{{ request.user.get_full_name }}</h3>
                <p class="mb-4">
                  {{ request.user.text_about }}
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-8">
            <form class="card" action="" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="card-body">
                <h3 class="card-title">{% trans 'Добавить статью' %}</h3>
                <div class="row">
                  <div class="col-sm-12 col-md-12">
                    <div class="form-group">
                      <label class="form-label">{{ form.title.label }}</label>
                      <input type="text"
                             name="{{ form.title.html_name }}"
                             id="{{ form.title.id_for_label }}"
                             class="form-control {% if form.title.errors %}is-invalid{% endif %}"
                             placeholder="{{ form.title.placeholder }}"
                             value="{{ form.title.value|default_if_none:'' }}">
                      {% for error in form.title.errors %}
                        <div class="invalid-feedback">{{ error|escape }}</div>
                      {% endfor %}
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-12">
                    <div class="form-group">
                      <label class="form-label">{{ form.keywords.label }}</label>
                      <input type="text"
                             name="{{ form.keywords.html_name }}"
                             class="form-control {% if form.keywords.errors %}is-invalid{% endif %}"
                             id="input-keywords"
                             data-options="{{ keywords_options }}"
                             value="{{ keywords_values|default_if_none:'' }}">
                      {% for error in form.keywords.errors %}
                        <div class="invalid-feedback">{{ error|escape }}</div>
                      {% endfor %}
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-12">
                    <div class="form-group">
                      <label class="form-label">{{ form.abstract.label }}</label>
                      <textarea rows="6"
                                name="{{ form.abstract.html_name }}"
                                id="{{ form.abstract.id_for_label }}"
                                class="form-control {% if form.abstract.errors %}is-invalid{% endif %}"
                                placeholder="{{ form.abstract.placeholder }}">{{ form.abstract.value|default_if_none:'' }}</textarea>
                      {% for error in form.abstract.errors %}
                        <div class="invalid-feedback">{{ error|escape }}</div>
                      {% endfor %}
                    </div>
                  </div>
                  <!--<div class="col-sm-4 col-md-4">-->
                    <!--<div class="form-group">-->
                      <!--<label class="form-label">{{ form.middle_name.label }}</label>-->
                      <!--<input type="text"-->
                             <!--name="{{ form.middle_name.html_name }}"-->
                             <!--id="{{ form.middle_name.id_for_label }}"-->
                             <!--class="form-control"-->
                             <!--placeholder="{{ form.middle_name.placeholder }}"-->
                             <!--value="{{ form.middle_name.value }}">-->
                    <!--</div>-->
                  <!--</div>-->

                  <!--<div class="col-sm-12 col-md-12">-->
                    <!--<div class="form-group">-->
                      <!--<label class="form-label">{{ form.text_about.label }}</label>-->
                      <!--<textarea rows="6"-->
                                <!--name="{{ form.text_about.html_name }}"-->
                                <!--id="{{ form.text_about.id_for_label }}"-->
                                <!--class="form-control"-->
                                <!--placeholder="{{ form.text_about.placeholder }}">{{ form.text_about.value }}</textarea>-->
                    <!--</div>-->
                  <div class="col-sm-12 col-md-12">
                    <div class="form-group">
                      <label class="form-label">{{ form.attachments.label }}</label>
                      <div class="table-responsive">
                        <table class="table table-hover table-outline table-vcenter text-nowrap card-table">
                          <thead>
                            <tr>
                              <th></th>
                              <th></th>
                              <th class="text-center"><i class="icon-settings"></i></th>
                            </tr>
                          </thead>
                          <tbody>
                            {% if form.instance %}
                              {% for attachment in form.instance.paperattachment_set.all %}
                                <img src="" alt="">
                                <tr>
                                  <td class="text-center">
                                    <div class="avatar d-block" style="background-image: url({{ attachment.file.url }})"></div>
                                  </td>
                                  <td>
                                    <div>{{ attachment.file.name }}</div>
                                    <div class="small text-muted">
                                      Загружено: {{ attachment.created|naturalday:"j E Y" }}
                                    </div>
                                  </td>
                                  <td class="text-center">
                                    <div class="item-action dropdown">
                                      <a href="javascript:void(0)" data-toggle="dropdown" class="icon"><i class="fe fe-more-vertical"></i></a>
                                      <div class="dropdown-menu dropdown-menu-right">
                                        <a href="javascript:void(0)" class="dropdown-item delete-attachment" data-delete-url="{% url 'api:v1:paperattachment-detail' attachment.id %}"><i class="dropdown-icon fe fe-trash-2"></i> Удалить </a>
                                      </div>
                                    </div>
                                  </td>
                                </tr>
                              {% endfor %}
                            {% endif %}

                          </tbody>
                        </table>
                      </div>
                      <input type="file" multiple
                             name="{{ form.attachments.html_name }}"
                             id="{{ form.attachments.id_for_label }}"
                             class="form-control"
                             placeholder="{{ form.attachments.placeholder }}">
                      {% for error in form.attachments.errors %}
                        <div class="invalid-feedback">{{ error|escape }}</div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer text-right">
                <button type="submit" class="btn btn-primary">{% trans "Сохранить" %}</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include 'includes/footer.html' %}
</div>

{% endblock %}


{% block extra_js %}
  <script>
    require(['jquery', 'selectize'], function ($, selectize) {
        $(document).ready(function () {
            $('#input-keywords').selectize({
                delimiter: ',',
                persist: false,
                create: function (input) {
                    return {
                        value: input,
                        text: input
                    }
                },
                options: $('#input-keywords').data('options')
            });
        });
    });
  </script>
  <script src="{% static 'js/attachments/attachments.js' %}"></script>
{% endblock %}
