{% extends 'base.html' %}

{% load i18n %}


{% block content %}
<div class="page">
  <div class="page-main">
    {% include 'includes/header.html' %}
    <div class="my-3 my-md-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-status bg-teal"></div>
              <div class="card-header">
                <h1 class="card-title">{{ object.title }}</h1>
                <div class="card-options">
                  {% if object.user == request.user %}
                    <a href="{% url 'papers:edit' object.pk %}" title="{% trans 'Редактировать' %}"><i class="fa fa-edit"></i></a>
                  {% endif %}
                  <a href="#" title="{% trans 'Добавить Закладку' %}"><i class="fa fa-bookmark-o"></i></a>
                </div>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-12 col-md-12">
                    <!--<h4>Ключевые слова</h4>-->
                    {% for keyword in object.keywords.all %}
                      <a href="#" class="btn btn-primary btn-sm">{{ keyword.value }}</a>
                    {% endfor %}

                  </div>
                </div>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-12 col-md-12">
                    <!--<h4>Аннотация</h4>-->
                    <p>{{ object.abstract|linebreaksbr }}</p>
                  </div>
                </div>
              </div>
              <div class="card-footer text-right">

              </div>
            </div>
          </div>
          {% for attachment in object.paperattachment_set.all %}
            {% include 'includes/attachment.html' %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  {% include 'includes/footer.html' %}
</div>

{% endblock %}
